html,
body
	margin: 0
	padding: 0
	width: 100%

html
	box-sizing: border-box

html *
	box-sizing: inherit

ul
	list-style: none
	padding: 0
	margin: 0

a
	text-decoration: none

.container
	width: 80%
	margin: 0 auto
	padding: 0

.clearfix:after
	content: ''
	display: table
	clear: both

.header
	margin: 0 auto
	width: 100%

.top-header
	width: 100%
	padding: 30px 2%
	background: #aaa url(../img/brickwall.png)

.top-header__logo
	float: left
	width: 16%

.top-header__text-block
	float: left
	width: 50%
	margin-left: 7%

.top-header__main-header
	font-size: 20px
	font-family: 'open_sanssemibold'
	color: #000
	margin: 0
	text-align: center
	margin-bottom: 10px

.top-header__slogan
	font-size: 16px
	font-family: 'open_sansregular'
	color: #333
	text-align: center

.top-header__contacts
	float: right
	width: 20%
	margin-left: 7%
	p
		margin-bottom: 5px


.main-nav__list
	display: flex
	flex-wrap: nowrap
	justify-content: center
	background-color: #f0331a

.main-nav__item
	display: inline-block
	text-align: center

.main-nav__item a
	display: block	
	padding: 15px 20px	
	font-family: 'open_sanssemibold'
	font-size: 16px
	color: #000
	&:hover
		background-color: #ff2208
		color: #fff
		text-decoration: none


.about-us__text
	padding: 15px
	background-color: #f7f7f7
	margin-bottom: 0

.products-wrapper
	padding: 15px 0

.products__header
	text-align: center
	margin-top: 0
	margin-bottom: 24px

.carousel-wrapper
	margin: 0 auto
	max-width: 400px
	background-color: #eee
	border: 3px solid #fff
	border: 3px solid rgba(100, 32, 55, 0.15)

.advantages
	padding: 15px
	text-align: center
	background: #8af

.advantages-list
	margin: 20px
	display: flex
	justify-content: space-between

.advantages-list__item h3
	margin-bottom: 20px

.advantages-img-wrap
	width: 150px
	height: 150px
	border: 1px solid #00a
	border-radius: 50%
	overflow: hidden
	margin: 0 auto

.logo-laying
	padding: 15px
	text-align: center

.logo-laying__header
	margin-bottom: 40px

.logo-laying-list	
	margin: 20px
	display: flex
	justify-content: space-between

.logo-laying-list__item img
	border: 1px solid #000
	width: 200px
	height: 200px

.partners
	padding: 15px
	text-align: center
	background: #eee

.map-wrapper
	padding: 15px

.map
	margin: 0 auto